@media (max-width:640px) {
  /* 메인메뉴 */
  .showDropmenu{position:absolute;top:0;right:0;padding:12px;}
  #nav{position:relative;top:0;left:0;right:0;width:100%;height:100%;background-color:#fff;box-shadow:none;transition:none;}
  #nav > div{margin-bottom:0}
  #gnb{margin-left:0;border-top:1px solid #ebebeb}
  #gnb li{float:left;margin-left:0 !important;padding:0;width:50%;background:none}
  #gnb li a{font-size:14px;line-height:45px;}
  #gnb li a:hover{position:relative;}
  #gnb li a:hover::after{position:absolute;bottom:0;left:0;width:100%;height:3px;background:#6131ce;content:'';/*190108*/bottom:-1px}

  #header .cleanbell-dropmenu{top:45px;/*190108*/top:47px}
  #header .cleanbell-dropmenu::after{position:absolute;top:0;left:0;right:0;bottom:0;width:100%;height:100%;background:rgba(0,0,0,0.7)}
  #header .cleanbell-dropmenu ul{height:135px}
  #header .cleanbell-dropmenu ul li{position:relative;float:left;width:50%;padding:0}
  #header .cleanbell-dropmenu ul li a{font-size:13px;line-height:45px}
  #header .cleanbell-dropmenu ul li a:hover::after{display:none}
  #header .cleanbell-dropmenu ul li:nth-child(odd)::after{position:absolute;top:0;right:0;width:1px;height:45px;background:#464646;content:''}
  #header .cleanbell-dropmenu ul li:nth-child(3)::before,
  #header .cleanbell-dropmenu ul li:nth-child(4)::before,
  #header .cleanbell-dropmenu ul li:last-child::before{position:absolute;top:0;left:0;right:0;width:100%;height:1px;background:#464646;content:''}
  #header .cleanbell-dropmenu ul li.dropwidth100{width:100%}

  #header .premium-dropmenu{top:45px;/*190108*/top:47px}
  #header .premium-dropmenu ul{height:90px}
  #header .premium-dropmenu ul li{position:relative;float:left;width:50%;padding:0}
  #header .premium-dropmenu ul li a{font-size:13px;line-height:45px}
  #header .premium-dropmenu ul li a:hover::after{display:none}
  #header .premium-dropmenu ul li:nth-child(odd)::after{position:absolute;top:0;right:0;width:1px;height:45px;background:#464646;content:''}
  #header .premium-dropmenu ul li:nth-child(3)::before,
  #header .premium-dropmenu ul li:last-child::before{position:absolute;top:0;left:0;right:0;width:100%;height:1px;background:#464646;content:''}
  #header .premium-dropmenu span{font-size:10px;line-height:25px;}
  #header .premium-dropmenu span strong{font-size:10px;line-height:25px;}

  /* 메인 비주얼 */
  #container{padding-top:0}
  .visual h2 img{width:calc(100% - 100px)}
  .visual_premium{padding:0;background-size:inherit;background:url(/images-v3/visual_p_bg.jpg) no-repeat 36% 82%}
  .visual_premium .visual_sns{padding-top:18px}
  .visual_premium .visual_sns ol{margin-bottom:10px}
  .visual_premium .visual_sns ol li{margin-right:10px}
  .visual_premium .visual_sns ol li:last-of-type{margin-right:0}
  .visual_premium h2{padding:61px 0 60px;background-size:calc(100% - 60px);}
  .visual_premium h2 .visual_sub_tit{padding:15px 0 10px;font-size:15px;line-height:12px;font-weight:400;letter-spacing:-0.75px}
  .visual_premium h2 .visual_sub_tit strong{font-weight:400}
  .visual_premium h2 .visual_price{padding-bottom:30px}
  .visual_premium h2 .visual_price small{font-size:10px;line-height:12px;font-weight:400}
  .visual_premium .visual_btns ol li{width:115px;height:40px}
  .visual_premium .visual_btns ol li input[type=button]{font-size:13px;line-height:40px}

  /* 시공건수 예약률 */
  .premium_count ol{height:inherit}
  .premium_count ol li{width:100%}
  .premium_count ol li .s_tit{margin-right:15px;font-size:20px}
  .premium_count ol li.cleanCount{padding:18px 0 19px;text-align:center;}
  .premium_count ol li.cleanCount .s_tit{line-height:30px;letter-spacing:-0.3px}
  .premium_count ol li.cleanCount strong{padding-right:0;font-size:30px;line-height:30px}
  .premium_count ol li.cleanCount .countUnit{font-size:20px;line-height:30px}
  .premium_count ol li.cleanReserve{height:inherit;padding:12px 0;overflow:hidden;text-align:center;}
  .premium_count ol li.cleanReserve .s_tit{padding-left:0;line-height:45px}
  .premium_count ol li.cleanReserve .imgMonth{width:36px;height:46px;background-size:100%;font-size:15px;line-height:36px}
  .premium_count ol li.cleanReserve .imgMonth small{font-size:10px}
  .premium_count ol li.cleanReserve strong{display:inline-block;}
  .premium_count ol li.cleanReserve strong span{font-size:30px;line-height:41px}

  /* 가장 깨끗한 보금자리로 만드는 클린벨 */
  .premium_list{padding:30px 0}
  .premium_list .inner{width:100%}
  .premium_list h2{font-size:20px;line-height:25px;font-weight:400}
  .premium_list h2 span{display:block;font-weight:500}
  .premium_list ul{padding:22px 0 0}
  .premium_list ul li{float:none;width:100%}
  .premium_list ul li h3{padding:20px 0;font-size:15px;line-height:15px;font-weight:400}
  .nestSlider.owl-carousel{position:relative;}
  .nestSlider.owl-carousel .owl-item img{width:calc(100% - 106px);margin:0 auto;}
  .nestSlider.owl-carousel .owl-controls .owl-nav{position:absolute;top:50%;margin-top:-8px;left:35px;right:35px}
  .nestSlider.owl-carousel .owl-controls .owl-nav::after{display:block;clear:both;content:''}
  .nestSlider.owl-carousel .owl-controls .owl-prev{float:left;width:10px;height:16px;background:url(/images-v3/nestLeft.png) no-repeat;background-size:cover}
  .nestSlider.owl-carousel .owl-controls .owl-prev:hover{background:url(/images-v3/nestLeftHover.png) no-repeat;background-size:cover}
  .nestSlider.owl-carousel .owl-controls .owl-next{float:right;width:10px;height:16px;background:url(/images-v3/nestRight.png) no-repeat;background-size:cover}
  .nestSlider.owl-carousel .owl-controls .owl-next:hover{background:url(/images-v3/nestRightHover.png) no-repeat;background-size:cover}

  /* 청소 가격 알아보기 */
  .premium_price .inner{width:100%}
  .premium_price .inner a{padding:30px 0;font-size:17px;line-height:20px}
  .premium_price .inner a span{padding-right:16px}
  .premium_price .inner a span::after{width:8px;background-size:cover}

  /* 고객 리뷰 슬라이드 */
  .premium_review{position:relative;padding:52px 0}
  .premium_review::before{position:absolute;left:-10px;bottom:0;width:116px;height:125px;background:url(/images-v3/characterMale.png) center top;background-size:cover;content:''}
  .premium_review::after{position:absolute;left:115px;bottom:0;width:116px;height:125px;background:url(/images-v3/characterFemale.png) center top;background-size:cover;content:''}
  .premium_review .inner{width:100%}
  .premium_review .reviewSlide{width:calc(100% - 70px);margin:0 auto}
  .premium_review .reviewSlide.owl-carousel .owl-stage-outer{width:100%;margin:0 25px}
  .premium_review .reviewSlide.owl-carousel .owl-item{width:200px !important;filter:grayscale(100);}
  .premium_review .reviewSlide.owl-carousel .owl-item.active{filter:grayscale(0);}
  .premium_review .reviewSlide .reviewBox{padding:19px 0;width:100%;padding:32px 0;height:inherit;-moz-box-shadow:4px 4px 18px 1px rgba(0,0,0,0.12);-webkit-box-shadow:4px 4px 18px 1px rgba(0,0,0,0.12);box-shadow:4px 4px 18px 1px rgba(0,0,0,0.12)}
  .premium_review .reviewSlide .profileBox{float:inherit;margin:0 auto;width:160px;height:160px}
  .premium_review .reviewSlide .txtBox{float:inherit;margin:0 auto;width:calc(100% - 40px)}
  .premium_review .reviewSlide .txtBox span{margin-left:0;text-align:center;}
  .premium_review .reviewSlide .txtBox span.address{font-size:12px;line-height:20px;letter-spacing:-0.3px}
  .premium_review .reviewSlide .txtBox span.name{font-size:12px;line-height:20px;letter-spacing:-0.3px}
  .premium_review .reviewSlide .txtBox span.date{font-size:10px;line-height:20px;letter-spacing:-0.3px}
  .premium_review .reviewSlide .txtBox span.phrase{font-size:12px;line-height:19px}

  .reviewSlide .owl-controls{}
  .reviewSlide .owl-controls .owl-prev{width:10px;height:16px;background-size:cover}
  .reviewSlide .owl-controls .owl-prev:hover{background-size:cover}
  .reviewSlide .owl-controls .owl-next{width:10px;height:16px;background-size:cover}
  .reviewSlide .owl-controls .owl-next:hover{background-size:cover}

  /* 반드시 체크해야할 항목 */
  .premiumChecklist{}
  .premiumChecklist .inner{width:100%}
  .premiumChecklist .inner::after{display:none}
  .premiumChecklist .bg{padding:50px 0}
  .premiumChecklist .bg::before{display:none}
  .premiumChecklist .bg::after{display:none}
  .premiumChecklist h3{position:initial;font-size:20px;line-height:24px;text-align:center;}
  .premiumChecklist h3 span{display:inline-block;margin:0 5px}
  .premiumChecklist ol{width:calc(100% - 40px);padding:28px 0 0}
  .premiumChecklist li span{font-size:13px;}
  .premiumChecklist li a.detailBtn{width:115px;height:40px;font-size:13px;line-height:40px;-moz-box-shadow:1px 1px 4px 1px rgba(0,0,0,0.2);-webkit-box-shadow:1px 1px 4px 1px rgba(0,0,0,0.2);box-shadow:1px 1px 4px 1px rgba(0,0,0,0.2)}
  .premiumChecklist li a.detailBtn span{padding-top:13px}

  /* 청소범위 모달 */
  .premiumModal > div{width:100%;padding:20px;max-width:80%;transform:translate(0,0);}
  .premiumModal h4{font-size:20px;line-height:40px}
  .premiumModal p{padding:0 5%;word-break:keep-all;font-size:12px;line-height:19px}

  .cleanRangeSlide{margin:18px 0 0}
  .cleanRangeSlide .owl-controls .owl-dots{display:none !important}
  .cleanRangeSlide .dotSlide.owl-carousel .owl-stage-outer{overflow-x:scroll;}
  .cleanRangeSlide .dotSlide.owl-carousel .owl-stage{height:73px;overflow:hidden;}
  .cleanRangeSlide .dotSlide.owl-carousel .owl-item{width:73px !important;height:73px !important;}
  .cleanRangeSlide .dotSlide .owl-controls{display:none}
  .cleanRangeSlide a{position:relative;display:inline-block;font-size:0;width:73px;height:73px;}
  .cleanRangeSlide a::before{position:absolute;top:42px;right:-10px;width:10px;height:1px;background:#a584f0;content:''}
  .cleanRangeSlide a.rangeIcon01{background:url(/images-v3/rangeIcon_01.png) no-repeat;background-size:cover;}
  .cleanRangeSlide a.rangeIcon01:hover{background:url(/images-v3/rangeIconOver_01.png) no-repeat;background-size:cover}
  .cleanRangeSlide a.rangeIcon02{background:url(/images-v3/rangeIcon_02.png) no-repeat;background-size:cover;}
  .cleanRangeSlide a.rangeIcon02:hover{background:url(/images-v3/rangeIconOver_02.png) no-repeat;background-size:cover}
  .cleanRangeSlide a.rangeIcon03{background:url(/images-v3/rangeIcon_03.png) no-repeat;background-size:cover;}
  .cleanRangeSlide a.rangeIcon03:hover{background:url(/images-v3/rangeIconOver_03.png) no-repeat;background-size:cover}
  .cleanRangeSlide a.rangeIcon04{background:url(/images-v3/rangeIcon_04.png) no-repeat;background-size:cover;}
  .cleanRangeSlide a.rangeIcon04:hover{background:url(/images-v3/rangeIconOver_04.png) no-repeat;background-size:cover}
  .cleanRangeSlide a.rangeIcon05{background:url(/images-v3/rangeIcon_05.png) no-repeat;background-size:cover;}
  .cleanRangeSlide a.rangeIcon05:hover{background:url(/images-v3/rangeIconOver_05.png) no-repeat;background-size:cover}
  .cleanRangeSlide a.rangeIcon06{margin-right:0;background:url(/images-v3/rangeIcon_06.png) no-repeat;background-size:cover;}
  .cleanRangeSlide a.rangeIcon06:hover{background:url(/images-v3/rangeIconOver_06.png) no-repeat;background-size:cover}
  .cleanRangeSlide a.rangeIcon06::before{display:none}

  .cleanRangeSlide .owl-controls{height:inherit;top:-24px}
  .cleanRangeSlide .owl-controls .owl-nav{height:24px}
  .cleanRangeSlide .owl-controls .owl-prev{width:50%}
  .cleanRangeSlide .owl-controls .owl-prev span{left:50%;margin-left:-2px;margin-top:-4px;width:5px;height:8px;background-size:cover}
  .cleanRangeSlide .owl-controls .owl-prev:hover span{background-size:cover;}
  .cleanRangeSlide .owl-controls .owl-next{width:50%}
  .cleanRangeSlide .owl-controls .owl-next span{left:50%;margin-left:-2px;margin-top:-4px;width:5px;height:8px;background-size:cover}
  .cleanRangeSlide .owl-controls .owl-next:hover span{background-size:cover;}

  .cleanRangeDetail{margin:40px auto 10px}
  .cleanRangeDetail .item.width50 dl:first-child{width:50%;padding-left:0}
  .cleanRangeDetail .item.width50 dl:last-child{width:50%;padding-right:0}
  .cleanRangeDetail .item dd{padding-left:19px;font-size:12px;line-height:25px;min-height:36px}

  .premiumChecklist li span.cleanRangeNote{padding:5px 0;font-size:11px;line-height:15px;letter-spacing:-0.5px}

  .cleanRangeTip{padding:29px 19px;margin:25px auto}
  .cleanRangeTip h5{font-size:16px;line-height:26px;font-weight:500}
  .premiumChecklist li .cleanRangeTip span{padding:8px 0;font-size:12px;line-height:15px}
  .cleanRangeTip li{font-size:11px;line-height:15px}
  .cleanRangeTip li::before{top:25%;margin-top:-6px;width:23px;height:23px}
  .premiumChecklist .cleanRangeTip ol{padding:5px 0 0}

  .premiumModal .closeModal{width:140px;font-size:13px;line-height:40px;}

  .cleanNoticeDetail .item .itemBox{padding:19px 0 23px;margin-bottom:24px}
  .cleanNoticeDetail .item .itemBox img{margin-bottom:10px}
  .cleanNoticeDetail .item .itemBox h5{font-size:16px;line-height:20px}
  .cleanNoticeDetail .item .itemBox h5 strong{display:block}
  .cleanNoticeSlide .owl-controls .owl-dots{top:-299px}
  .cleanNoticeDetail .item .itemBox p{font-size:11px;line-height:16px;padding:0 15px}
  .cleanNoticeDetail .item .itemBox p span.textblock{display:inline-block !important}
  .cleanNoticeSlide .owl-controls{bottom:0;height:24px}
  .cleanNoticeSlide .owl-controls .owl-nav{position:absolute;bottom:150px}
  .cleanNoticeSlide .owl-controls .owl-prev{width:50%}
  .cleanNoticeSlide .owl-controls .owl-prev span{left:50%;margin-top:-4px;margin-left:-2px;width:5px;height:8px;background-size:cover}
  .cleanNoticeSlide .owl-controls .owl-prev:hover span{background-size:cover}
  .cleanNoticeSlide .owl-controls .owl-next{width:50%}
  .cleanNoticeSlide .owl-controls .owl-next span{left:50%;margin-top:-4px;margin-left:-2px;width:5px;height:8px;background-size:cover}
  .cleanNoticeSlide .owl-controls .owl-next:hover span{background-size:cover}
  .cleanNoticeDetail .item dl{height:100%}
  .cleanNoticeDetail .item dl img{width:100%}
  .cleanNoticeDetail .item .itemBox .asInfo{margin:12px 20px 0;width:initial;font-size:10px;line-height:13px}
  .cleanNoticeDetail .item .itemBox ol{width:calc(100% - 60px);padding:0}
  .cleanNoticeDetail .item .itemBox ol li{font-size:11px;line-height:16px}
  .cleanNoticeDetail .item .itemBox ol li::before{top:25%}
  .cleanNoticeDetail .item .itemBox ol li.top50::before{top:50%}
  .cleanNoticeDetail .item .itemBox ol li.theight::before{top:17%}
  .premiumChecklist li span.mstrongspan{display:inline;color:#353535;padding:0;font-size:16px;line-height:20px}

  /* 많은 사람들이 클린 프리미엄을 찾는 이유 */
  .premium_reason{padding:0}
  .premium_reason::before{right:0;left:inherit;background-size:cover;width:200px;height:75px}
  .premium_reason::after{display:none}
  .premium_reason .inner{width:100%}
  .premium_reason h3{margin:0;width:calc(100% - 74px);padding:23px 0 23px 34px;font-size:20px;line-height:24px;border-radius:0 50px 50px 0;text-align:left}
  .premium_reason h3 strong{display:block;font-weight:normal}
  .premium_reason h3::before{left:-10px}
  .premium_reason h3::after{top:76px;right:0;width:49px;height:45px;background-size:cover}
  .premium_reason ol{margin:0 34px;padding:18px 0 22px}
  .premium_reason li{padding-left:40px;font-size:13px;line-height:22px;letter-spacing:-0.3px;word-break:keep-all;}
  .premium_reason li .mblock{display:block;}

  /* 프리미엄 하단 배너 */
  .premium_banner{padding:38px 0 32px;height:100%;background-position:40% center;background-size:cover}
  .premium_banner > .inner{width:100%}
  .premium_banner dt{font-size:12px;line-height:22px}
  .premium_banner dd{font-size:18px;line-height:24px}
  .premium_banner .premiumBanBtn input{width:115px;height:40px;font-size:13px;line-height:40px}

  /* 190108 추가 - 서브 모바일 버전*/
  /* 예약하기-날짜선택 */
  #gnb li a{color:#000}
  .search_tab li{width:50%;background:#fff;font-weight:500}
  .search_tab li:first-of-type{width:50%;}
  .search_tab li:nth-of-type(3){border-left:1px solid #e3e3e3}
  .search_tab li.pass:nth-of-type(3){border-left:1px solid #bcaddd}
  .search_info h2{font-weight:500}
  .search_info .left h2 strong{font-weight:500}
  .search_info .right h2 strong{font-weight:500}
  .cleaning_tip ul li{margin-bottom:21px}
  .cleaning_tip ul li:last-of-type{margin-bottom:0}
  .cleaning_tip ul li::before{top:10px}
  .cleaning_tip ul li.theight::before{top:10px}

  /* 예약하기-청소정보입력 */
  .search_structure{margin-top:36px;padding:0}
  .search_structure select{height:45px;padding:5px 10px;font-size:14px;line-height:35px}
  .search_structure dl dt{margin-bottom:17px;font-size:17px;line-height:25px}
  .search_structure .first{width:100%;margin-bottom:29px}
  .search_structure .first dd{width:100%}
  .search_structure .second{width:100%;margin-bottom:40px}
  .search_structure .autoText{padding:24px 0}
  .search_structure .autoText p{padding:10px 25px 0}
  .search_structure .autoText p .textblock{display:inline !important}
  .checkModal{padding:0 20px;width:calc(100% - 40px)}
  .checkModal .modalContent{left:inherit;margin:10% auto 0;width:calc(100% - 80px);padding:0 40px 39px;word-break:keep-all;}
  .checkModal .modalContent img{width:50px}
  .checkModal .modalContent p{padding:4px 0;font-size:12px;line-height:19px}
  .checkModal .modalContent a{width:140px;height:40px;font-size:13px;line-height:40px;}

  /* 예약하기-청소정보입력-아파트 */
  .search_apartment{padding:0;margin-top:36px}
  .search_apartment dl dt{margin-bottom:17px;font-size:17px;line-height:25px}
  .search_apartment select{height:45px;padding:5px 10px;font-size:14px;line-height:35px}
  .search_apartment .first{width:100%}
  .search_apartment .first dd:first-of-type{width:calc(100% - 132px)}
  .search_apartment .first dd:last-of-type{margin-left:15px;width:117px}
  .search_apartment .second{float:right;width:70%;margin-top:21px}
  .structure_detail ul li dl dt{line-height:45px}
  .check_structure{padding:0;margin-top:36px}
  .check_structure dl dt{margin-bottom:0;font-size:17px;line-height:25px}
  .check_structure .first{width:100%}
  .check_structure .first dd{padding:17px 0}
  .check_structure .first dd input[type="checkbox"] + label{float:left;margin-left:0;width:calc(50% - 27px);font-size:14px;line-height:50px;padding-left:27px;background-size:20px}
  .check_addService{padding:0;margin-top:25px}
  .check_addService dl dt{margin-bottom:0;font-size:17px;line-height:25px}
  .check_addService .first{width:100%}
  .check_addService .first dd input[type="checkbox"] + label{float:left;margin-left:0;width:calc(60% - 27px);font-size:14px;line-height:50px;padding-left:27px;background-size:20px}
  .check_addService .first dd input[type="checkbox"] + label:last-of-type{width:calc(40% - 27px)}
  .check_addService .second ul{padding:24px;font-size:0}
  .check_addService .second ul li{position:relative;width:100%}
  .check_addService .second ul li::after{display:block;clear:both;content:''}
  .check_addService .second ul li label{width:80px;height:21px;font-size:13px;line-height:19px}
  .check_addService .second ul li input{float:right;margin-right:13px;text-align:right;font-size:15px;line-height:23px}
  .check_addService .second ul li span{position:absolute;right:0;margin:0;font-size:13px;line-height:21px}
  .check_addService .second ul li:last-of-type{margin-top:10px;position:relative;top:inherit;right:inherit;}
  .check_addService .second ul li:last-of-type label{display:inline-block;margin:0;width:80px;height:23px;font-size:13px;line-height:21px}
  .check_addService .second ul li:last-of-type input{padding-left:21px;width:80px;font-size:21px;line-height:23px;background-size:17px}
  .check_addService .second ul li:last-of-type span{margin:0;font-size:13px;line-height:21px}

  /* 예약하기-개인정보입력 */
  .certNum{bottom:6px;width:90px;height:35px;font-size:13px;line-height:33px}
  .search_personal{padding:0;margin-top:36px}
  .search_personal dl dt{margin-bottom:0;font-size:17px;line-height:25px}
  .searchInput{height:45px;padding:5px 0;line-height:35px;font-size:13px}
  .search_personal .first{width:100%}
  .search_personal .first dd{width:100%}
  .search_personal .second{width:100%}
  .check_policy{padding:0}
  .check_policy dl dt{margin-bottom:0;font-size:17px;line-height:25px}
  .check_policy .first{width:100%}
  .check_policy .first dd{padding:17px 0}
  .check_policy .first dd input[type="checkbox"] + label{background-position:left 5px;font-size:14px;line-height:20px}
  .check_policy .first dd input[type="checkbox"] + label:first-of-type{margin-bottom:10px}
  .check_policy .first dd label a{font-size:14px;line-height:20px}
  .check_policy .second ul{padding:24px;font-size:0}
  .check_policy .second ul li{position:relative;width:100%}
  .check_policy .second ul li::after{display:block;clear:both;content:''}
  .check_policy .second ul li label{width:80px;height:21px;font-size:13px;line-height:19px}
  .check_policy .second ul li input{float:right;margin-right:13px;text-align:right;font-size:15px;line-height:23px}
  .check_policy .second ul li span{position:absolute;right:0;margin:0;font-size:13px;line-height:21px}
  .check_policy .second ul li:last-of-type{margin-top:10px;position:relative;top:inherit;right:inherit;}
  .check_policy .second ul li:last-of-type label{display:inline-block;margin:0;width:80px;height:23px;font-size:13px;line-height:21px}
  .check_policy .second ul li:last-of-type input{padding-left:21px;width:80px;font-size:21px;line-height:23px;background-size:17px}
  .check_policy .second ul li:last-of-type span{margin:0;font-size:13px;line-height:21px}

  /* 예약하기-팀선택 */
  .search_percent{padding:0;margin-top:20px}
  .search_percent p{font-size:13px;padding-bottom:50px}
  .search_percent p .textpercent{font-size:19px;font-style:italic;}
  .search_percent .percent .bar{height:20px}
  .search_percent .percent .bar i::after{top:-27px;right:-28px;background-size:60px}
  .search_team{padding:0;margin-top:20px}
  .search_team h4{font-size:15px;line-height:25px;font-weight:500}
  .search_team li{padding:12px 12px 75px}
  .search_team li .left{width:100px;height:100px}
  .search_team li .left img{width:100px}
  .search_team li .right{width:calc(100% - 112px);padding:0 0 0 12px}

  .checkTeam + label{top:22px;left:22px;width:25px;height:25px}
  .checkTeam:checked + label{background-size:25px}
  .search_team li .right .teamTitle{margin-top:5px;width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:12px;line-height:15px}
  .search_team li .right .teamName{font-size:17px;line-height:22px;margin:5px 0 12px}
  .search_team li .right .teamCareer{padding-bottom:0}
  .search_team li .right .teamCareer .year{font-size:12px;line-height:14px;background-size:14px}
  .search_team li .right .teamCareer .count{margin:0;font-size:12px;line-height:14px;background-size:14px}
  .search_team li .right .teamCareer div span{font-size:12px;line-height:14px}
  .search_team li .right .teamReview{position:absolute;left:12px;right:12px;bottom:14px}
  .search_team li .right .teamReview .teamReviewSlider li{width:calc(100% - 60px);padding:0 10px;font-size:12px;line-height:30px}
  .teamReviewTitle{padding:0 0 5px 16px;background-size:14px;font-size:12px;line-height:14px}

  .search_team li span.teamOut{top:22px;left:22px;width:80px;height:80px;background-size:cover}
  .search_team li .out{opacity:0.8}
  .search_team li .inner.out{position:relative;}
  .search_team li .inner.out::after{display:block;clear:both;content:''}
  .search_team li .inner.out .right .teamReview{position:absolute;left:0;right:0;top:118px;bottom:inherit;}

  /* 예약하기-예약완료 */
  .search_result{margin:18px auto 0;padding:20px 20px 0}
  .search_result img{width:200px;margin-bottom:17px}
  .search_result h3{margin-bottom:15px;font-size:20px;line-height:30px;font-weight:500}
  .search_result p{font-size:12px;line-height:19px}
  .search_result p:first-of-type{font-weight:500}
  .search_result a{margin-top:20px;width:140px;line-height:40px;font-size:13px}

  /* 상담요청 */
  .counsel{padding:30px 0}
  .counsel h3{font-size:18px;line-height:30px}
  .counsel p{font-size:12px;line-height:35px}
  .counselBg{margin-top:27px;padding:20px}
  .counselBg img{width:165px;margin-top:20px}
  .counsel_personal{margin-top:36px}
  .counsel_personal dl dt{margin-bottom:0;font-size:17px;line-height:25px}
  .counselInput{height:45px;padding:5px 0;line-height:35px;font-size:13px}
  .counsel_personal.counselNumber .second:first-of-type{width:100%}
  .counsel_personal.counselNumber .second:last-of-type{margin:0;width:100%}
  .certNumTime{right:95px;bottom:50%;margin-bottom:-9px;font-size:12px}
  .counsel_personal.counselCalendar{width:100%}
  .counsel_personal.counselCalendar dl dt{margin-bottom:10px}
  .counselInputCalendar{height:45px;padding:5px;line-height:35px;font-size:13px;background-position:95% center}
  .counsel_personal select{height:45px;padding:5px;line-height:35px;font-size:13px;}
  .counsel_personal.counselStruct dl dt{margin-bottom:10px}
  .counsel_personal.counselAverage dl dt{margin-bottom:10px}
  .counsel_personal.counselTime{width:100%}
  .counsel_personal.counselTime dl dt{margin-bottom:10px}
  .counsel_personal.counselAddress .first{width:100%}
  .counsel_personal.counselAddress dl dt{margin-bottom:10px}
  .counsel_personal.counselAddress dl.third dd{padding-top:10px;float:inherit;width:100%;}
  .counsel_personal.counselAddress dl.third dd:first-of-type{margin-right:0}
  .counsel_personal.counselAddress dl.third dd:last-of-type{margin-left:0}
  .counsel_personal.counselOther dl dt{margin-bottom:10px}
  .counselSubmit{margin:45px auto 30px;width:100%;height:45px;line-height:45px;font-size:14px}

  .thanksModal{padding:0 20px;width:calc(100% - 40px)}
  .thanksModal .modalContent{left:inherit;margin:10% auto 0;width:calc(100% - 80px);padding:0 20px 30px;word-break:keep-all;}
  .thanksModal .modalContent h4{margin:30px auto 10px;font-size:23px;line-height:33px}
  .thanksModal .modalContent p{font-size:14px;line-height:22px}
  .thanksModal .modalContent a{width:100%;height:40px;margin:100px auto 0;font-size:13px;line-height:40px}
  .thanksModal .modalContent a::after{top:-87px;left:50%;margin-left:-68px;width:136px;background-size:136px}

  /* 고객만족도조사-메인 */
  .survey{padding:30px 0}
  .surveyBg{margin-top:27px;padding:20px 20px 50px}
  .surveyBg img{margin-top:35px;width:132px}
  .surveyBg h3{width:100%;padding:11px 0 30px;font-size:20px;line-height:20px}
  .surveyBg p{padding:0;font-size:13px;line-height:23px;word-break:keep-all;}
  .surveyBg a.surveyIn{margin:16px auto;border:2px solid;width:calc(100% - 40px);line-height:39px;font-size:14px}

  /* 고객만족도조사-설문지 */
  .survey h3{font-size:18px;line-height:36px;word-break:keep-all;}
  .survey p{font-size:12px;line-height:18px}
  .survey_Personal{padding:20px}
  .survey_Personal dl{margin-bottom:25px}
  .survey_Personal dl:first-of-type{width:calc(50% - 10px);margin-right:10px}
  .survey_Personal dl:nth-of-type(2){width:calc(50% - 10px);margin-left:10px}
  .survey_Personal dl:nth-of-type(3){width:100%;margin-right:0;margin-bottom:25px}
  .survey_Personal dl:last-of-type{width:100%;margin-left:0}
  .survey_Personal dl dt{font-size:11px;line-height:20px}
  .survey_Personal dl dt.surveyName{width:45px}
  .survey_Personal dl dt.surveyDate{width:55px}
  .survey_Personal dl dt.surveyAddress{width:35px}
  .survey_Personal dl dt.surveyStruct{width:45px}
  .surveyPInput{height:45px;padding:5px;line-height:35px;font-size:13px;}

  .check_survey{padding:0}
  .check_survey dl{margin-top:25px;font-size:0}
  .check_survey dl dt{margin-bottom:10px;font-size:16px;line-height:25px;white-space:inherit;}
  .check_survey dl:nth-of-type(4) dt span.colorPurple{display:block;}
  .check_survey dd{padding-bottom:0}
  .check_survey dd input[type="checkbox"] + label{width:calc(33.33% - 27px);margin-left:0;margin-bottom:15px;font-size:14px;line-height:20px;padding-left:27px;background-size:20px;white-space:nowrap;}
  .check_survey .agreeSurvey dd{padding-bottom:30px}
  .check_survey .agreeSurvey dd input[type="checkbox"] + label{width:calc(100% - 22px);white-space:inherit;background-position:left 4px;font-size:14px;line-height:20px}
  .check_survey .agreeSurvey dd input[type="checkbox"]:checked + label{background-position:left 4px}

  .surveySubmit{width:100%;line-height:45px;font-size:14px}

  /* 190109 추가 */
  /* 고객 후기 */
  .subpageBg{padding:45px 0 39px;background-position:70% top}
  .subpageBg h5{font-size:20px;line-height:45px;width:130px}
  .subpageBg h5::before{top:-17px;left:22px;width:27px;height:17px;background-size:27px}
  .subpageBg p{padding:10px 50px;word-break:keep-all;font-size:15px;line-height:22px;font-weight:300}
  #pReview{margin:30px 0 20px}
  .reviewList dl.listTop{border:0}
  .reviewList dl > ul{display:none}
  .reviewList dl ul{position:relative;padding-left:2%}
  .reviewList dl ul li{padding:0 0 40px;font-size:11px;line-height:40px;text-align:left;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
  .reviewList dl ul li.width89{width:auto;padding:0 2px 40px}
  .reviewList dl ul li.width120{width:auto;position:absolute;right:2%}
  .reviewList dl ul li.width210{width:110px;padding:0 2px 40px}
  .reviewList dl ul li.width410{position:absolute;width:96%;left:2%;right:2%;bottom:0;padding-bottom:0;font-size:14px}
  .reviewList dl ul li.width410 span{width:100%;padding:0;line-height:40px}
  .reviewList dl dt.active ul li.width410{font-size:15px}
  .reviewList dl dt.active ul li.width410 span::after{bottom:-2px}
  .reviewList dl ul li.width109{width:70px;padding:0 2px 40px}
  .reviewList dl dd{padding:24px 35px;font-size:12px;line-height:20px}
  .reviewList dl dd::before{top:15px;left:15px;background-size:15px}
  .reviewList dl dd::after{bottom:15px;right:15px;background-size:15px}
  .pagination{margin-bottom:50px}

  /* 가격표 */
  .price{padding:40px 0}
  .price h3{width:100%;padding:15px 0;font-size:18px;line-height:18px;font-weight:400}
  .price h3::before{display:none;top:-17px;left:22px;width:27px;height:17px;background-size:27px}
  .price h3 span{font-weight:500}
  .priceService{margin:40px 0 0}
  .priceClean{width:100%;}
  .priceClean h4, .priceAdd h4{margin:20px 25px 0;padding-bottom:20px;font-size:19px;line-height:19px;}
  .priceClean dl.first{padding:0 25px}
  .priceClean dl.first dt{margin-bottom:20px;font-size:17px;line-height:25px;}
  .priceClean dl.first dd select{height:45px;padding:5px;font-size:14px;line-height:35px}
  .priceClean dd.second ul li dl dt{font-size:14px;line-height:45px}
  .priceClean dd.third .relative:first-of-type{width:calc(100% - 115px)}
  .priceClean dd.third .relative:last-of-type{width:100px;margin-left:15px}
  .priceCleanBottom{padding:21px 25px;width:calc(100% - 50px)}
  .priceCleanBottom dt{width:100px;font-size:16px;line-height:26px;}
  .priceCleanBottom dd{right:26px;margin-top:-15px;font-size:22px;line-height:28px}
  .priceCleanBottom dd span{font-size:13px;line-height:28px}

  .priceAdd{width:100%;float:left;margin:35px 0 0}
  .priceAdd dl.first{padding:0 25px;height:130px}
  .priceAdd dl.first::before{display:none}
  .priceAdd dl.first::after{position:inherit}
  .priceAdd dl.first dt{display:none}
  .priceAdd dl.first dd{padding-top:30px}
  .priceAdd dl.first dd input[type="checkbox"] + label{margin-left:0;padding-left:27px;font-size:14px;line-height:20px;background-size:20px;color:#999}
  .priceAdd dl.first dd input[type="checkbox"] + label:last-of-type{display:block;margin-top:20px}
  .priceAdd dl.first dd input[type="checkbox"]:checked + label{color:#333;background-size:20px}

  .priceBottom{margin:20px 0 25px;padding:25px;width:calc(100% - 50px);height:auto;}
  .priceBottom dl{position:relative;margin:0}
  .priceBottom dt{width:80px;font-size:12px;line-height:21px;}
  .priceBottom dd{position:absolute;top:50%;right:0;margin-top:-13px;font-size:20px;line-height:23px}
  .priceBottom dd span{font-size:13px;line-height:23px}
  .priceBottom dl.bot01{left:0}
  .priceBottom dl.bot01 dd::after{display:none}
  .priceBottom dl.bot02{left:0;margin-top:10px}
  .priceBottom dl.bot02 dd::after{display:none}
  .priceBottom dl.bot03{left:0;margin-top:20px}
  .priceBottom dl.bot03 dt{margin-left:0;width:80px;}
  .priceBottom dl.bot03 dd{padding-left:22px}
  .priceBottom dl.bot03 dd::before{top:50%;margin-top:-9px;width:17px;height:17px;background-size:17px}
  a.priceSubmit{margin:0 auto;width:calc(100% - 40px);font-size:14px;line-height:45px;font-weight:300}

  /* 고객센터 */
  .subpageBg.cscenterBg{padding:45px 0 68px;background-size:cover}
  .subpageBg ul{margin-left:-115px}
  .subpageBg ul li{width:110px;font-size:13px;line-height:42px}
  .pFaqTop{height:205px}
  .pFaqTop::after{bottom:-50px;margin-left:-140px;width:280px;height:80px;background:url(/images-v3/pFaqTopDownM.png) no-repeat;background-size:cover}
  .pFaqTopUp{width:100%;padding-top:28px}
  .pFaqTopUp dt{display:block;margin-left:0;text-align:center;}
  .pFaqTopUp dt img{width:88px}
  .pFaqTopUp dd{display:block;margin:16px auto 20px;font-size:14px;line-height:22px;font-weight:300}

  .faqList{margin:75px auto 0;padding-bottom:50px}
  .faqList h6{font-size:18px;line-height:18px}
  .faqList dl{margin-bottom:10px}
  .faqList dt ul li:first-of-type{font-size:13px;line-height:60px}
  li.width80{width:40px}
  .faqList dt ul li:last-of-type{width:calc(100% - 81px);padding:0 20px;font-size:12px;line-height:58px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
  .faqList dt.toggleFaq ul li:last-of-type::after{right:5%;width:9px;height:5px;margin-top:-3px;background-size:9px}
  .faqList dt.toggleFaq.active ul li:last-of-type{border-top-color:#6131ce}
  .faqList dt.toggleFaq.active ul li:last-of-type::after{right:5%;width:9px;height:5px;margin-top:-3px;background-size:9px}
  .faqList dd{padding:20px;font-size:11px;line-height:18px}

  /* 고객센터-예약확인 */
  .pFaqTopUp{padding:28px 20px 0;width:calc(100% - 40px)}
  .pFaqTopUp h6{font-size:18px;line-height:42px;}
  .pFaqTopUp p{font-size:12px;line-height:18px;padding:0 40px;word-break:keep-all;}
  .reserveListCheck{margin:-71px auto 0;width:calc(100% - 50px);padding:40px 25px}
  .reserveListCheck dl dt{font-size:17px;line-height:25px;}
  .reserveListCheck dl dd .certNum{top:51px;bottom:inherit;}
  .reserveListCheck dl dd .certNumTime2{top:51px;margin-top:5px;right:95px}

  /* 고객센터-예약확인-예약내역 */
  .reserveListDetail{margin:32px auto 25px}
  .reserveListDetail dl{font-size:12px;}
  .reserveListDetail dl dt{width:80px;padding:10px 0;line-height:22px}
  .reserveListDetail dl dd{width:calc(100% - 98px);padding:10px 10px 10px 5px;line-height:22px;word-break:keep-all;}
}
